@model StatisticViewModel

@{
    ViewBag.Title = "Jumps statistics";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<body>

    <div class="text-center row">
        <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th>All jumps</th>
                        <th>Active</th>
                        <th>Completed</th>
                        <th>Pending</th>
                        <th>Declined</th>
                    </tr>
                </thead>
                <tbody>                   
                     <tr>

                          <td>
                              <label>@Model.AllJumps</label>
                          </td>
                          <td>
                              <label>@Model.ActiveJumps</label>
                          </td>
                          <td>
                              <label>@Model.CompletedJumps</label>
                          </td>
                          <td>
                              <label>@Model.PendingJumps</label>
                          </td>
                          <td>
                              <label>@Model.DeclinedJumps</label>
                          </td>
                     </tr>
                   
                </tbody>
            </table>      
    </div>

</body>

