@model IEnumerable<EquipmentViewModel>

@{
    ViewBag.Title = "All Equipment";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (Model.Any())
    {
        @foreach (var equipment in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" src="@equipment.ImageUrl" alt="Equipment Image">
            <div class="card-body">
                <h5 class="card-title mt-1">@equipment.Title</h5>
                <p class="mb-0">Brand: @equipment.Brand</p>
                <p class="mb-0">Price: @equipment.Price</p>
                <p class="mb-0">Available: @equipment.Quantity</p>
                <p class="mb-0">Category: @equipment.Category</p>
            </div>
                <div>
                <a class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal_@equipment.Id">Details</a>

                <partial name="_EquipmentDetailsAdminPartial" model="@equipment" />
                
                <a asp-area="Admin" asp-controller="Equipment" asp-action="Edit" asp-route-id="@equipment.Id" class="btn btn-primary mb-2">Edit</a>

                <a asp-area="Admin" asp-controller="Equipment" asp-action="Delete" asp-route-id="@equipment.Id" onclick="return confirm('Are sure wants to delete this equipment?');" class="btn btn-danger mb-2">Delete</a>
                </div>
            </div>
    }

    }
    else
    {
        <h3 class="text-center">No equipment</h3>
    }
</div>