@model IEnumerable<JumpViewAdminModel>

@{
    ViewBag.Title = "Pending jumps";
}

<h2 class="text-center">@ViewBag.Title Admin area</h2>
<hr />

<div class="text-center row">
    @if (Model.Any())
    {
    @foreach (var jump in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            @* <img class="card-img-top" style="width: 18rem;"
        src="@jump.ImageUrl" alt="Book Image">*@
            <div class="card-body">

                <h5 class="card-title mt-1">@jump.Title</h5>
                <p class="mb-0">Description: @jump.Description</p>
                <p class="mb-0">Category: @jump.Category</p>
                <p class="mb-0">OwnerName: @jump.OwnerName</p>
                <p class="mb-0">StartDate: @jump.StartDate</p>
                <p class="mb-0">OwnerId: @jump.OwnerId</p>
                <p class="mb-0">JumpId: @jump.Id</p>
            </div>
            @*
        <form class="input-group-sm" asp-route-jumpId="@jump.Id" asp-controller="Offer" asp-action="Send" method="post">
        <input type="submit" value="Send Offer" class="fs-6 btn btn-success mb-3 p-2" />
        </form>*@
                <a asp-area="Admin" asp-controller="Jump" asp-action="Details" asp-route-id="@jump.Id" class="btn btn-success mb-2">Details</a>


           @* @if (this.User.Id() == jump.OwnerId)
            {
                <a asp-controller="Jump" asp-action="Edit" asp-route-id="@jump.Id" class="btn btn-primary mb-2">Edit</a>

                <a asp-controller="Jump" asp-action="Delete" asp-route-id="@jump.Id" class="btn btn-danger mb-2">Delete</a>
            }*@
        </div>
    }
    } else {
        <h3 class="text-center">No jumps to review</h3>
    }
</div>


