@model JumpViewModel

@{
    ViewBag.Title = "View Jump Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.Title</h3>
            <p class="card-text"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="card-text"><span class="fw-bold">Category: </span>@Model.Category</p>
            @if (Model.OwnerId == this.User.Id())
            {   <a asp-controller="Jump" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Jump" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are sure wants to delete this jump?');" class="btn btn-danger">Delete</a>
            }

            @if (this.User.IsInRole("Instructor"))
            {
                <a asp-controller="Offer" asp-action="Send" asp-route-id="@Model.Id" class="btn btn-success mb-2">Make offer</a>
            }
        </div>
    </div>
</div>
