@model IEnumerable<OfferServiceViewModel>

@{
    ViewBag.Title = "Review Offers";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (Model.Any())
{
@foreach(var offer in @Model){

<div class="d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center">New offer</h3>
            <p class="card-text"><span class="fw-bold">Instructor: </span>@offer.InstructorName</p>
            <p class="card-text"><span class="fw-bold">Send offer for your jump: </span>@offer.JumpTitle (@offer.JumpCategory)</p>
            <p class="card-text"><span class="fw-bold">Description: </span>@offer.Description</p>
            <p class="card-text"><span class="fw-bold">Price: </span>@offer.Price</p>
            <p class="card-text"><span class="fw-bold">Phone number: </span>@offer.InstructorPhoneNumber</p>
            <p class="card-text"><span class="fw-bold">Instructor rating: </span>@offer.Rating</p>
            <a asp-controller="Offer" asp-action="Accept" asp-route-id="@offer.Id" class="btn btn-success">Accept</a>
            <a asp-controller="Offer" asp-action="Decline" asp-route-id="@offer.Id" class="btn btn-danger">Decline</a>
        </div>
    </div>
</div>
}    
}
else
{
 <h3 class="text-center">No offers</h3>
}